# Created by .ignore support plugin (hsz.mobi)
### Go template
# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.exe
*.o
*.so
*.dylib

*.test
*.prof
*.out

ostentatious
main

# Folders
_obj
_test

error_logs/
output/
vendor/
dist/

.vscode
.idea

x.*
y.*
z.*

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

debug
__debug_bin

.DS_Store

lib/loglib/logrelaycaasp.pem
